/*------------------------------------*\
   LOCAL SCREENS
\*------------------------------------*/

.section-values .card.card-intro .animated-content .image-intro-endframe {
	width: 384px;
	height: 520px;
	background-size: 384px 520px;
	background-repeat: no-repeat;
	background-image: url(/it/iphone/home/cop/images/values/intro_endframe__c0o6uarfpg6e_large.png);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-values .card.card-intro .animated-content .image-intro-endframe {
		background-image: url(/it/iphone/home/cop/images/values/intro_endframe__c0o6uarfpg6e_large_2x.png);
	}
}

@media only screen and (max-width: 1068px) {
	.section-values .card.card-intro .animated-content .image-intro-endframe {
		width: 330px;
		height: 448px;
		background-size: 330px 448px;
		background-image: url(/it/iphone/home/cop/images/values/intro_endframe__c0o6uarfpg6e_medium.png);
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-values .card.card-intro .animated-content .image-intro-endframe {
		background-image: url(/it/iphone/home/cop/images/values/intro_endframe__c0o6uarfpg6e_medium_2x.png);
	}
}

.section-values .card.card-intro .animated-content .image-intro-startframe {
	background-image: url(/it/iphone/home/cop/images/values/intro_startframe__fog1hbc6sq6a_large.png);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-values .card.card-intro .animated-content .image-intro-startframe {
		background-image: url(/it/iphone/home/cop/images/values/intro_startframe__fog1hbc6sq6a_large_2x.png);
	}
}

@media only screen and (max-width: 1068px) {
	.section-values .card.card-intro .animated-content .image-intro-startframe {
		background-image: url(/it/iphone/home/cop/images/values/intro_startframe__fog1hbc6sq6a_medium.png);
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-values .card.card-intro .animated-content .image-intro-startframe {
		background-image: url(/it/iphone/home/cop/images/values/intro_startframe__fog1hbc6sq6a_medium_2x.png);
	}
}


.section-values .card.card-sensory-alerts .animated-content .image-sensory-alerts-startframe {
	background-image: url(/it/iphone/home/cop/images/values/sensory_alerts_startframe__e0igbl19l6qa_large.png);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-values .card.card-sensory-alerts .animated-content .image-sensory-alerts-startframe {
		background-image: url(/it/iphone/home/cop/images/values/sensory_alerts_startframe__e0igbl19l6qa_large_2x.png);
	}
}

@media only screen and (max-width: 1068px) {
	.section-values .card.card-sensory-alerts .animated-content .image-sensory-alerts-startframe {
		background-image: url(/it/iphone/home/cop/images/values/sensory_alerts_startframe__e0igbl19l6qa_medium.png);
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-values .card.card-sensory-alerts .animated-content .image-sensory-alerts-startframe {
		background-image: url(/it/iphone/home/cop/images/values/sensory_alerts_startframe__e0igbl19l6qa_medium_2x.png);
	}
}

.section-values .card.card-sensory-alerts .animated-content .image-sensory-alerts-endframe {
	background-image: url(/it/iphone/home/cop/images/values/sensory_alerts_endframe__c3mojp7zl1si_large.png);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.section-values .card.card-sensory-alerts .animated-content .image-sensory-alerts-endframe {
		background-image: url(/it/iphone/home/cop/images/values/sensory_alerts_endframe__c3mojp7zl1si_large_2x.png);
	}
}

@media only screen and (max-width: 1068px) {
	.section-values .card.card-sensory-alerts .animated-content .image-sensory-alerts-endframe {
		background-image: url(/it/iphone/home/cop/images/values/sensory_alerts_endframe__c3mojp7zl1si_medium.png);
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-values .card.card-sensory-alerts .animated-content .image-sensory-alerts-endframe {
		background-image: url(/it/iphone/home/cop/images/values/sensory_alerts_endframe__c3mojp7zl1si_medium_2x.png);
	}
}




/*------------------------------------*\
   END LOCAL SCREENS
\*------------------------------------*/ 




/*------------------------------------*\
   LOCAL FIXES
\*------------------------------------*/



.section-values .card.card-designed .card-content-image .values-designed {
	top: 20px;
}

@media only screen and (max-width: 734px) {
	.section-values .card .card-contents.full-height .card-content-image .base-content, .section-values .card .card-contents.full-height .card-content-image .animated-content {
		margin-top: 20px;
	}
}





/*------------------------------------*\
   END LOCAL FIXES
\*------------------------------------*/ 