*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}

body {
    background-color: rgb(39, 39, 39);
    width: 800px;
    margin: 0px auto;
}

h1 a {
    color: white;
    text-decoration: none;
}

img {
    display: block;
    position: fixed;
}
img:hover {
    -webkit-transform: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
}

.contenitore-immagine {
  position: relative; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);  
  margin: 20px auto;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes infinite-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contenitore-immagine img:hover {
  animation: infinite-spin 2s linear infinite;
}


section {
    padding: 10px 0px 20px 0px;
}

p{
    color: white;
    padding: 10px 0px;
}

img {
    width: 50%;
    padding: 10px;
}

